* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-family: Trebuchet MS;
    font-weight: bold;
    background: transparent;
    position: relative;
    outline:none;
    border:none;
    width:100%;
    color:#222222;
}

#Um {
    font-size: 18px;
    top:109vh;
    left: 66px;
}

#Dois {
    font-size: 19px;
    top: 103vh;
    left: 293px;
}

#Tres {
    font-size: 18px;
    top: 150vh;
    left: 293px;
}

#Quatro {
    font-size: 18px;
    top: 150vh;
    left: 293px;
}

#Cinco {
    font-size: 18px;
    top: 150vh;
    left: 293px;
}

#Seis {
    font-size: 18px;
    top: 150vh;
    left: 293px;
}

#Sete {
    font-size: 18px;
    top: 150vh;
    left: 293px;
}