* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-family: Trebuchet MS;
    font-weight: bold;
    background: transparent;
    position: relative;
    outline:none;
    border:none;
    width:100%;
    color:#222222;
}

#Um {
    font-size: 18px;
    top:111vh;
    left: 66px;
}

#Dois {
    font-size: 18px;
    top: 104vh;
    left: 293px;
}

#Tres {
    font-size: 18px;
    top: 111vh;
    left: 293px;
}

#Quatro {
    font-size: 18px;
    top: 104vh;
    left: 66px;
}

#Cinco {
    font-size: 18px;
    top: 110vh;
    left: 66px;
}

#Seis {
    font-size: 18px;
    top: 120vh;
    left: 66px;
}

#Sete {
    font-size: 25px;
    top: 50vh;
    left: 120px;
}

.bb {
    position: relative;
    top: 89vh;
    left: 192px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

input {
    background-color: blueviolet;
}