* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
    font-family: Trebuchet MS;
    font-weight: bold;
    background: transparent;
    position: relative;
    outline:none;
    border:none;
    width:100%;
    color:#222222;
}

#Um {
    top: 87vh;
    left: 66px;
}

#Dois {
    top: 82vh;
    left: 295px;
}